.btn {
    padding: 15px 30px;
    display: inline-block;
    transition: .3s;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.8rem;
    /* identical to box height */
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;

    &--light-brown {
        background-color: $light-brown;
        color: $color-white;

        &:hover {
            background-color: $color-hover-btn;
        }
    }

    &--dark {
        background: $color-black;
        color: $color-white;

        &:hover {
            background-color: #4c4c4c;
        }
    }

    &--transparent {
        background: transparent;
        border: 1px solid $color-black;
        color: $color-black;

        &:hover {
            background: $color-black;
            color: $color-white;
            border: 1px solid transparent;
        }
    }
}