*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    height: 100%;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: $pale-gray;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 114rem;
    padding: 0 1.5rem;
    margin: 0 auto;

    @include respond(tablet) {
        max-width: 71.9rem;
    }

    @include respond(phone) {
        max-width: 35.7rem;
    }
}