@font-face {
    font-family: 'Manrope';
    src: url(../../fonts/Manrope-Bold.woff2) format('woff2'),
        url(../../fonts/Manrope-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url(../../fonts/Manrope-Medium.woff2) format('woff2'),
        url(../../fonts/Manrope-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url(../../fonts/Manrope-Regular.woff2) format('woff2'),
        url(../../fonts/Manrope-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.head-title {
    font-weight: bold;
    font-size: 4rem;
    line-height: 4.4rem;
    /* or 110% */
    letter-spacing: 1.42857px;
    text-transform: uppercase;
}

.text {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.content-text {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.8rem;
    /* identical to box height */
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: .5;
}